        <div class="content__footer">

            <footer>

                <div class="container">

                    <div class="footer__wrapper">

                          <div class="footer__copyright">
                               <p>© {{ powered }} SN Online Shopping Store Все права защищены.</p>
                          </div>

                          <div class="footer__link">

                              <a href="#">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="instagram__icon">
                                      <use xlink:href="/img/icon/sprite.svg#instagram"></use>
                                  </svg>
                              </a>

                              <a href="#">
                                  <svg xmlns="http://www.w3.org/2000/svg" class="imo__icon">
                                      <use xlink:href="/img/icon/sprite.svg#imo"></use>
                                  </svg>
                              </a>

                          </div>

                     </div>

                </div>

            </footer>

        </div>

    </div>

</div>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

</body>
</html>