<div id="search" class="search__wrapper">

  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />

  <div class="search__btn-box">

    <button type="button" class="search__btn">

      <svg xmlns="http://www.w3.org/2000/svg" class="search__icon">
        <use xlink:href="/img/icon/sprite.svg#search"></use>
      </svg>

    </button>

  </div>

</div>